<div class="estudiante">
    <div class="datos">
        <div class="dato">
            <div class="nombre">Nombre:</div>
            <div class="valor">{{estudiante.nombre}}</div>
        </div>
        <div class="dato">
            <div class="nombre">Usuario:</div>
            <div class="valor">{{estudiante.usuario}}</div>
        </div>
        <div class="dato">
            <div class="nombre">Codigo:</div>
            <div class="valor">{{estudiante.codigo}}</div>
        </div>
        <div class="dato">
            <div class="nombre">Correo:</div>
            <div class="valor">{{estudiante.correo}}</div>
        </div>
        <div class="dato">
            <div class="nombre">Celular:</div>
            <div class="valor">{{estudiante.celular}}</div>
        </div>   
    </div>
    <div class="grafica">
        <div id="grafica">     
        </div>
    </div>
    <div class="mensajes">
        <table>
            <tr>
              <th>Mensaje</th>
              <th>Fecha</th>
              <th>Tipo</th>
            </tr>
            <tr>
              <td>Mensaje</td>
              <td>1</td>
              <td>2</td>
            </tr>
            <tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>  
            </tr>
            <tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr><tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr><tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr><tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr><tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr><tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr><tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Mensaje</td>
                <td>1</td>
                <td>2</td>
            </tr>
          </table>
    </div>
</div>

