<div class="estudiante">
    <div class="datos">
        <div class="dato">
            <div class="nombre">Nombre:</div>
            <div class="valor">{{estudiante.nombre}}</div>
        </div>
        <div class="dato">
            <div class="nombre">Usuario:</div>
            <div class="valor">{{estudiante.usuario}}</div>
        </div>
        <div class="dato">
            <div class="nombre">Codigo:</div>
            <div class="valor">{{estudiante.codigo}}</div>
        </div>
        <div class="dato">
            <div class="nombre">Correo:</div>
            <div class="valor">{{estudiante.correo}}</div>
        </div>
        <div class="dato">
            <div class="nombre">Celular:</div>
            <div class="valor">{{estudiante.celular}}</div>
        </div>   
    </div>
    <div class="grafica"></div>
</div>

