.barra{ 
    height: 6%;
    width: 100%;
    background-color: grey;
}

.titulo {
    width:100%;
    text-align: center;
    height: 100%;
}

.opciones {
    display: flex;
    height: 8%;
    width: 100%;
}

.opcion {
    height: 100%;
    width: 33%;
}

.opcion2 {
    height: 100%;
    width: 34%;
}

.opcion * {
    height: 100%;
    width: 100%;
}

.opcion2 * {
    height: 100%;
    width: 100%;
}
