<div class="formulario">
  <h1 class="titulo">Registrar Estudiante</h1>
  <div class="contenidoFormulario">
    <div class="ingreso">
      <div class="campo">
        <div class="nombre">Nombre</div>
        <div class="casilla"><input type="text" [(ngModel)]="nombre"></div>
      </div>
      <div class="campo">
        <div class="nombre">Usuario</div>
        <div class="casilla"><input type="text" [(ngModel)]="usuario"></div>
      </div>
      <div class="campo">
        <div class="nombre">Codigo</div>
        <div class="casilla"><input type="text" [(ngModel)]="codigo"></div>
      </div>
      <div class="campo">
        <div class="nombre">Escuela</div>
        <div class="casilla">
          <select [(ngModel)]="escuela">
            <option *ngFor="let e of escuelas" [value]="e">
              {{e}}
            </option>
          </select>
        </div>
      </div>
      <div class="campo">
        <div class="nombre">Correo</div>
        <div class="casilla"><input type="email" [(ngModel)]="correo"></div>
      </div>
      <div class="campo">
        <div class="nombre">Celular</div>
        <div class="casilla"><input type="tel" [(ngModel)]="celular"></div>
      </div>
      <div class="boton">
        <button (click)="registrarEstudiante()" style="background-color:#88DC65;">Registrar</button>
        <button (click)="cancelar()" style="background-color:#CC6666;">Cancelar</button>
      </div>
    </div>
  </div>
  <div *ngIf="mensajeErrorVisible" class="mensajeError">
    {{mensajeError|json}}
  </div>
</div>
