html {
    height: 100%;
    width: 100%;
    padding: 0px;
    border: 0px;
    margin: 0px;
}

body {
    height: 100%;
    width: 100%;
}

html * {
    padding: 0px;
    border: 0px;
    margin: 0px;
}