<div class="principal">
    <div class="card-container" >
        <a class="card" target="_blank" rel="noopener" *ngFor="let u of usuarios; let i = index">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
          <span>{{u.nombre}}</span>
          <input class="check" type="checkbox" [(ngModel)]="aceptacion[i]" (change)="onChange(u.usuario,i)">    
        </a>
      </div>
    
    
      <div class="card-container">
        <button class="card card-small" (click)="eliminarEstudiantes()" tabindex="0">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
          <span>Eliminar</span>
        </button>
      </div>
    </div>